modules = ["java"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "QuickHire Web Server"

[[workflows.workflow]]
name = "QuickHire Web Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && javac -classpath .:../lib/* -d ../target ./main/java/com/quickhire/**/*.java && cd .. && java -cp target:lib/* org.apache.catalina.startup.Bootstrap start"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "cd src && javac -classpath .:../lib/* -d ../target ./main/java/com/quickhire/**/*.java && cd .. && java -cp target:lib/* org.apache.catalina.startup.Bootstrap start"]
